<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>webcredentials:d20oyc88hlibbe.cloudfront.net</string>
		<string>webcredentials:d20oyc88hlibbe.cloudfront.net?mode=developer</string>
		<string>webcredentials:3lgqmzurih.execute-api.us-east-1.amazonaws.com</string>
		<string>webcredentials:3lgqmzurih.execute-api.us-east-1.amazonaws.com?mode=developer</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.ashokteja.formulahelper</string>
	</array>
</dict>
</plist>
